* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
}

a{
    text-decoration: none;
    color: black;
}

header {
    background-color: #EAC926;
}

.header_nav{
    display: flex;
    flex-direction: column;
}

.burger_button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: auto;
    margin-top: 15px;
    border-radius: 10%;
    background-color: #1259c3;
    color: white;
}

/* main */

main{
    background-color: #ebebeb;
}
.banner_home {
    width: 100%;
}

.img_ultima_vista {
    width: 85%;
}

.img_productos {
    display: flex;
    justify-content: center;
}

.ultima_vista p{
    font-size: 16px;
}

h2 {
    margin: 24px;
}

.precio{
    font-size: 18px;
}

p {
    margin: 10px;
}

/* footer */
.beneficios_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    list-style-type: none;
    list-style: none;
}

.footer_icon{
    display: flex;
    justify-content: center;
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}

h3 {
    font-size: 16px;
}

.beneficios_footer p{
    font-size: 12px;
    margin-bottom: 25px;
}