<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="../../public/css/sign_in.css">
    <!-- Links de Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!-- Script de fontawesome -->
    <script src="https://kit.fontawesome.com/9a7367c1c6.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <a href="home.html"><img src="../../public/img/images/logo-mercado-liebre.svg" alt=""></a>
        <form action="" method="get">
            <input type="text" name="buscador_nav" id="navsearch" placeholder="Buscar productos">
            <i class="fa-solid fa-magnifying-glass"></i>
        </form>
        <p>Comprá en cuotas y sin tarjeta de crédito <i class="fa-solid fa-hand-holding-dollar"></i></p>
        <nav class="header_nav">
            <a href="#">Ofertas</a>
            <a href="#">Tiendas oficiales</a>
            <a href="#">Vender</a>
            <a href="#">Ayuda</a>
            <br>
            <a href="sign_up.html">Creá tu cuenta <i class="fa-solid fa-address-card"></i></a>
            <a href="sign_in.html">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a>
            <a href="#">Mis compras <i class="fa-solid fa-cart-shopping"></i></a>            
        </nav>
        <div class="burger_button">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>
    <main>
        <h3>Iniciar sesión</h3>
        <form action="" method="get">
            <input type="text" name="nombre_usuario" id="nombre_usuario" placeholder="Nombre de usuario">
            <input type="text" name="contraseña" id="contraseña" placeholder="Contraseña">
            <input type="submit" value="Enviar" class="enviar_boton">
        </form>
    </main>
    <footer>
        <article class="beneficios_footer">
            <div class="footer_icon">
                <i class="fa-solid fa-credit-card"></i>
            </div>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            <div class="footer_icon">
                <i class="fa-solid fa-gift"></i>
            </div>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            <div class="footer_icon">
                <i class="fa-solid fa-user-shield"></i>
            </div>         
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </article>
    </footer>
</body>
</html>