<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="shortcut icon" href="../../public/img/images/logo-mercado-liebre.svg">
    <link rel="stylesheet" href="../../public/css/sign_up.css">
</head>
<body>
    <header>
        <nav class="header_nav">
            <img src="../../public/img/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
            <div class="container_sign_in">
                <p>¿Ya estás registrado?</p>
                <input type="button" value="Iniciar sesión">
            </div>
        </nav>
    </header>
    <main>
        <div class="container_color_azul">
            <div class="titulo_crea_cuenta">
                <h3>Creá tu cuenta</h3>
            </div>
            <form action="" method="get">
                <div class="container_vender_comprar">
                    <h3>Vengo a...</h3>
                    <input type="button" value="COMPRAR!">
                    <input type="button" value="VENDER!">
                </div>
                <div class="container_dato_personal">
                    <h3>Datos personales</h3>
                    <p>Nombre</p>
                    <input type="text" name="nombre" id="nombre">
                    <p>Apellido</p>
                    <input type="text" name="apellido" id="apellido">
                    <p>Fecha de nacimiento</p>
                    <input type="date" name="fecha_nacimiento" id="fecha_nacimiento">
                    <p>Domicilio</p>
                    <input type="text" name="domicilio" id="domicilio">
                    <p>Correo</p>
                    <input type="email" name="email" id="email_registro">
                </div>
                <div class="container_perfil_usuario">
                    <h3>Perfil de usuario</h3>
                    <p>Foto de perfil</p>
                    <input type="file" name="foto_perfil" id="foto_perfil">
                    <p>Nombre de usuario</p>
                    <input type="text" name="nombre_usuario" id="nombre_usuario">
                    <div class="container_categoria_interes">
                        <p>Categorías de interés</p>
                        <p>Electro</p>
                        <input type="checkbox" name="categoria_electro" id="categoria_electro">
                        <p>Moda</p>
                        <input type="checkbox" name="categoria_moda" id="categoria_moda">
                        <p>Hogar</p>
                        <input type="checkbox" name="categoria_hogar" id="categoria_hogar">
                        <p>Juguetería</p>
                        <input type="checkbox" name="categoria_jugueteria" id="categoria_jugueteria">
                        <p>Vida sana</p>
                        <input type="checkbox" name="categoria_vida_sana" id="categoria_vida_sana">
                        <p>Contraseña</p>
                        <input type="password" name="contraseña" id="contraseña">
                        <p>Confirmar contraseña</p>
                        <input type="password" name="repetir_contraseña" id="repetir_contraseña">
                    </div>
                </div>
                <input type="button" value="Enviar">
                <input type="button" value="Borrar los datos">
            </form>
        </div>
    </main>    
    <footer>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>